<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\James\Documents\Cmps 401\CMPSAdvisingDB.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityCMPSAdvising" Order="1" Enabled="False">
          <Destination Path="Data Source=OWNER2011-PC;Initial Catalog=CMPSADVISING1;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CMPSAdvisingDB.Models.ApplicationDbContext, CMPSAdvisingDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CMPSAdvising1Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=OWNER2011-PC;Initial Catalog=roleAuthentication1;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CMPSAdvisingDB.CMPSAdvising1Entities, CMPSAdvisingDB" MigrationConfiguration="CMPSAdvisingDB.Migrations.Configuration, CMPSAdvisingDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CMPSAdvising1Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CMPSAdvisingDBModel.csdl|res://*/CMPSAdvisingDBModel.ssdl|res://*/CMPSAdvisingDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=OWNER2011-PC;Initial Catalog=roleAuthentication1;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityCMPSAdvising-Web.config Connection String">
      <ParameterValue>Data Source=OWNER2011-PC;Initial Catalog=CMPSADVISING1;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>